<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Рады приветствовать Вас, на нашем кулинарном сборнике!</h1>
    <p style="color: brown; font-size: 30px;">Путеводитель по кулинарии:</p>
    <p style="font-size: 18px;">Что будем сегодня готовить?</p>
    <a href="omlet/"><button>Омлет</button></a>
    <a href="pasta/"><button>Паста</button></a>
    <a href="buter/"><button>Бутерброд</button></a>
</body>
</html>